{% extends "base.html" %}

{% block container %}
    <div class="jumbotron page-header">
        <h1>Brasil Solar E-Commerce</h1>
		  <p>A empresa BRASIL SOLAR Sistemas de Energia no mercado para fornecimento, correção e geração 
		    de energia para diversas áreas de atuação, como residencial, hospitalar, comercial, industrial, 
		    fotovoltaica e governamental dentro dos mais modernos padrões tecnológicos, incluindo laboratório 
		    de pesquisa e inovação, renovação constante de sua tecnologia e busca de inovações no mercado atuante.</p>
		  <p><a class="btn btn-primary">Saiba mais</a></p>
    </div>
{% endblock %}